<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }} {{end}}
  {{if hascode}} {{insert head_highlight.html }} {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Cormorant+Garamond:wght@400;600&family=JetBrains+Mono&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="icon" href="/assets/favicon.png">
  {{isdef title}} <title>{{fill title}}</title> {{end}}
</head>

<body>
  {{insert header.html}}

  <!-- Content appended here -->